build
*xcodeproj/*mode*
*xcodeproj/*pbxuser
*xcodeproj/*per*
*xcodeproj/project.xcworkspace
*xcodeproj/xcuserdata
**/build
**/*xcodeproj/*mode*
**/*xcodeproj/*pbxuser
**/*xcodeproj/*per*
**/*xcodeproj/project.xcworkspace
**/*xcodeproj/xcuserdata
**/**/*xcodeproj/*mode*
**/**/*xcodeproj/*pbxuser
**/**/*xcodeproj/*per*
**/**/*xcodeproj/project.xcworkspace
**/**/*xcodeproj/xcuserdata
*tmproj
**/~*
.DS_Store
