build
*xcodeproj/*mode*
*xcodeproj/*pbxuser
*xcodeproj/*perspective*
**/build
**/*xcodeproj/*mode*
**/*xcodeproj/*pbxuser
**/*xcodeproj/*perspective*
**/**/*xcodeproj/*mode*
**/**/*xcodeproj/*pbxuser
**/**/*xcodeproj/*perspective*
*tmproj
**/~*
.DS_Store
