<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataClasses</key>
	<array>
		<dict>
			<key>ImagePath</key>
			<string>SyncDataClass.tiff</string>
			<key>Name</key>
			<string>com.zarrastudios.ZSync</string>
		</dict>
	</array>
  
  <key>ManagedObjectModels</key>
  <array>
  
    <string>DataModel.xcdatamodel</string>
  
  </array>
  
	<key>Name</key>
	<string>com.zarrastudios.ZSync</string>
</dict>
</plist>
